ul {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    padding: 15px 20px;
}

.list__element {
    display: flex;
    justify-content: space-evenly;
}

.list__container {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}

.canvas__container {
    width: 600px;
    height: 600px;
    margin: 0 auto;
}

.entity-data__list {
    padding-left: 30px;
}